<!-- Areas of Focus panel (repurposed from Chirpy's default "Recently Updated" list) -->

<section id="areas-of-focus">
  <h2 class="panel-heading">Areas of Focus</h2>
  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2 areas-of-focus-list">
    <li><i class="fa-solid fa-shield-halved fa-fw"></i><span>Incident Response</span></li>
    <li><i class="fa-solid fa-crosshairs fa-fw"></i><span>Threat Hunting</span></li>
    <li><i class="fa-solid fa-fingerprint fa-fw"></i><span>Identity Security</span></li>
    <li><i class="fa-solid fa-satellite-dish fa-fw"></i><span>Detection Engineering</span></li>
    <li><i class="fa-solid fa-bug fa-fw"></i><span>Malware Analysis</span></li>
    <li><i class="fa-solid fa-magnifying-glass fa-fw"></i><span>Digital Forensics</span></li>
    <li><i class="fa-solid fa-cloud fa-fw"></i><span>Cloud Security</span></li>
    <li><i class="fa-solid fa-window-maximize fa-fw"></i><span>Windows Internals</span></li>
  </ul>
</section>
